<form #myForm="ngForm" (ngSubmit)="onSubmitButtonClick(myForm)" style="margin-top: 10px">
    <div >
        <label for="name">Name:</label>
        <input type="text" name="name" [(ngModel)]="name" required minlength="10">
        @if(myForm.controls['name']?.invalid && myForm.controls['name']?.touched) {
            @if(myForm.controls['name']?.errors?.['required']) {
                <div>Name is required.</div>
            }
            @if(myForm.controls['name']?.errors?.['minlength']) {
                <div>Name should be at least 10 characters.</div>
            }
            
        }
    </div>
    <div style="margin-top: 10px">
        <label for="branch">Branch:</label>
        <select name="branch" [(ngModel)]="selectedBranch">
            <option value="">Select Branch</option>
            <option value="cse">CSE</option>
            <option value="it">IT</option>
            <option value="ece">ECE</option>
        </select>
    </div>
    <div style="margin-top: 10px">
        <label for="password">Password:</label>
        <input type="password" name="password" [(ngModel)]="password" required>
        @if(myForm.controls['password']?.invalid && myForm.controls['password']?.touched) {
            <div>Password is required.</div>
        }
    </div>
    <div style="margin-top: 10px">
        <button type="submit">Submit</button>       
    </div>
</form>
