<form (ngSubmit)="onCalculateClick()">
    <div class="input-group">
        <p>
            <label for="initial">Initial Investment</label>
            <input type="number" id="initial" [(ngModel)]="initialInvestment" name="initialInvestment">
        </p>
        <p>
            <label for="annual">Annual Investment</label>
            <input type="number" id="annual" [(ngModel)]="annualInvestment" name="annualInvestment">
        </p>
    </div>
    <div class="input-group">
        <p>
            <label for="return">Expected Return</label>
            <input type="number" id="return" [(ngModel)]="expectedReturn" name="expectedReturn">
        </p>
        <p>
            <label for="duration">Duration</label>
            <input type="number" id="duration" [(ngModel)]="duration" name="duration">
        </p>
    </div>
    <p>
        <button type="submit">Calculate</button>
    </p>
</form>