 <!-- <app-card>
  <ng-template #cardheader>
    <h1 >content inside the h1</h1>
  </ng-template>
  <h2 >content inside the h2</h2>
</app-card> -->

<!-- <ng-container *ngTemplateOutlet="false? test: test1"></ng-container> -->

<!-- <ng-template #test>
<h1>
  display when the value is true
</h1>
</ng-template>

<ng-template #test1>
  <h1>
    display when the value is false
  </h1>
</ng-template> -->

<!-- View encapsulation -->
<app-view-encapsulation1></app-view-encapsulation1>
<app-view-encapsulation></app-view-encapsulation>
