.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: orchid;
    width: 30vw;
    padding: 1rem;
    gap: 1rem;
    border-radius: 8px;
    justify-self: center;
  }
  
  .login-form label {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-weight: bold;
  }
  
  .login-form input {
    padding: 0.5rem;
    font-size: 1rem;
    margin-top: 0.25rem;
  }
  
  .login-form button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .login-form p {
    color: red;
  }

  