<form #myForm="ngForm" (ngSubmit)="onSubmitClick(myForm)">
  <div>
    <label for="name">Name: </label>
    <input type="text" name="name" [(ngModel)]="name" required minlength="10">
  </div>
    @if(myForm.controls['name']?.invalid && myForm.controls['name']?.touched) {
  <div>Name is required.</div>
}

   <div>
    <label for="password">Password: </label>
    <input type="password" name="password" [(ngModel)]="password" required>
  </div>
  @if(myForm.controls['password']?.invalid && myForm.controls['password']?.touched) {
  <div>Password is required.</div>
}
  <div>
    <button type="submit">submit</button>
  </div>
</form>
<router-outlet></router-outlet>