<app-dashboard-item [image]="image" [title]="title">
    <div class="new-ticket">
        <ul>
            @for(ticket of tickets; track ticket.id) {
            <li>
                <app-ticket [ticket]="ticket" (completeTicket)="onCompleteTicket($event)"></app-ticket>
            </li>
            }@empty {
            <li>No tickets available</li>
            }
        </ul>
        <div id="status">
            <app-new-ticket (ticketCreated)="addTicket($event)"></app-new-ticket>
        </div>
    </div>

</app-dashboard-item>