<form #form="ngForm" (ngSubmit)="onSubmit(form)">
  <h2>Login</h2>

  <div class="control-row">
    <div class="control no-margin">
      <label for="email">Email</label>
      <input id="email" type="email" name="email" ngModel required email #ema="ngModel" />
      <div *ngIf="ema.touched && ema.invalid">
        <label for="emial">please enter a valid email.</label>
      </div>
    </div>

    <div class="control no-margin">
      <label for="password">Password</label>
      <input id="password" type="password" name="password" ngModel  required #password="ngModel" />
      <div *ngIf="password.touched && password.invalid">
        <label for="password"> please enter a valid password.</label>
      </div>
    </div>

    <button class="button" >Login</button>
  </div>

</form>

